

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    
}
canvas {
    position: absolute;
    background-color: #000000;
    top: 0;
    left:0;
}
#headingDiv{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 16rem;

  
}
#headings{
    /* display: flex; */
    text-align: center;
    /* align-items: center; */
    margin: 2rem;
    /* border: 1px solid #888; */
    
}
.instruction{
    margin: 1rem;
    text-align: center;
    color: #717272;
    
    
}
#instruction1{
    text-align: center;
    position: absolute;
}


#instruction2{
    margin-top: 4rem;
    color: #717272;
    text-align: center;
}
#buttonPlayDiv{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 3rem;
   
}
#buttonPlay{
   
       color: rgb(12, 156, 43);
       border: 1px solid rgb(12, 156, 43);
       background-color:white;
       padding: 10px 30px;
       font-size: 1em;
       border-radius: 10%;
       transition: 0.8s;
       width: 6rem;
      
}
#buttonPlay:hover {
    color: white;
    border: none;
    width: 10rem;
    border-radius: 0%;
    background-color: rgb(12, 156, 43);
}


body {
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
  color: #111;
}

.draggable-elements {
  display: flex;
  justify-content: center;
  margin: 2rem;
  border: 1px solid #888;
}
.draggable {
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  margin: 0rem 0.5rem;
  cursor: move;
  transition: opacity 0.2s;
}
.draggable:hover {
  opacity: 0.5;
}
.droppable {
  height: 5rem;
  width: 5rem;
  display: inline-block;      
  margin: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  border: 2px solid rgb(250, 119, 114);
  border-radius: 8%;
  transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
}
.droppable-elements{
    display: flex;
    justify-content: center;
    margin: 2rem;
    /* border: 1px solid #888; */
}
.droppable span {
  font-size: 1rem;
  pointer-events: none; /* The element is never the target of pointer events */
}

/* Drag and Drop Related Styling */

.droppable.droppable-hover {
  /* background-color: #bee3f0; */
  border-width: 5px;
  transform: scale(1.1);
  
}
.droppable.dropped {
  border-style: solid;
  color: #fff;
  
 
}
.droppable.dropped span {
  font-size: 0.75rem;
  
  /* margin-top: 0.5rem; */
}
.droppable.dropped i {
  pointer-events: none;
}
.draggable.dragged {
  user-select: none;
  opacity: 0.2;
  cursor: default;
}
.draggable.dragged:hover {
  opacity: 0.1;
}



@media (max-width: 600px) {
  html { font-size: 14px; }
  .draggable-elements { margin: 1.5rem; margin-left: 3rem;}
}